/* STTYLE ISSUING PROCESS*/
.film__item {
  box-shadow: 1px 2px 6px 3px  #fff;
  overflow: hidden;
}

.film__item:hover {
  box-shadow: 1px 2px 12px 5px  #fff;
}

.text {
  transition: all 0.8s ease;
}

.text:hover {
transform:  scale(1.14);
}

.box__select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.big__box {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
.big__box--active{
  display: flex;
}

.modal__wrapper {
  width: 800px;
  position: absolute;
}

.images {
  width: 300px;
  height: 400px;
}

.deleti {
  position: relative;
  background-color: transparent;
  border: none;
 top: -200px;
 right: -10px;
}
